
body {
  background-color: #bfbfbf;
}

.results-container {
  display: none;
  opacity:0;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.85);
  z-index:1000;
  text-align: center;
  min-width: 250px;
}

.results-container h2 {
  padding-top: 10px;
  color: white;
  font-size: 2em;
}

.results-close-area {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  cursor: pointer;
}

.results {
  position: fixed;
  top:100px;
  left:100px;
  right:100px;
  bottom:100px;
  background-color: white;
  border-radius: 15px;
  z-index:2000;
  padding:50px;
  overflow-y: auto;
  min-width:60px;
  max-width:400px;
  margin:0 auto;
}

.App {
  position: relative;
}

h1 {
  text-align: center;
  box-sizing: border-box;
}

.style-toggle-button {
  position: fixed;
  right:5px;
  top:5px;
  z-index: 500;
  font-size: 11px;
  border:1px solid grey;
  border-radius: 5px;
  padding:2px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 0 Transparent;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.style-toggle-button:hover {
  box-shadow: 0 0 3px black;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.confirm-button {
  position: fixed;
  bottom: 25px;
  z-index:50;
  cursor: pointer;
}

.uncheckall-button {
  position: fixed;
  bottom: 25px;
  left:70px;
  z-index:50;
  cursor: pointer;
}

.UserList {
  position: fixed;
  top:80px;
  bottom:50px;
  overflow-y: auto;
  left:0;
  right:0;
}

.UserListItem {
  width:100%;
  background-color: white;
  border-top: 1px solid blue;
  position: relative;
  height:77px;
  overflow: hidden;
}

.checkbox-section {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:68px;
  background-color: red;
  text-align: center;
}

.checkbox {
  margin-top: 30px;
  cursor:pointer;
}

.text-section {
  position: absolute;
  top:0;
  left:68px;
  bottom:0;
  right:0;
}

.name-section {
  height:30px;
  line-height:30px;
  background-color: rgb(0,125,36);
  min-width: 1000px;
}

.email-section {
  padding-bottom: 10px;
  height:47px;
  background-color: rgb(254,255,87);
  min-width: 1000px;
}

@media (max-width:500px) {
  .results {
    left:50px;
    right:50px;
    top:100px;
    bottom:100px;
  }
}
